  <%- include('layout.ejs') %>
<div class="bg-gray-100 flex items-center justify-center min-h-screen">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h2 class="text-2xl font-bold text-center mb-6">Quên mật khẩu</h2>
    <% if (message) { %>
      <p class="text-center text-red-500 mb-4"><%= message %></p>
    <% } %>
    <form action="/forgot" method="POST">
      <div class="mb-4">
        <label for="username" class="block text-sm font-medium text-gray-700">Tên đăng nhập</label>
        <input type="text" id="username" name="username" required class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>
        <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">email</label>
        <input type="email" id="email" name="email" required class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>
      <div class="mb-4">
        <label for="newPassword" class="block text-sm font-medium text-gray-700">Mật khẩu mới</label>
        <input type="password" id="newPassword" name="newPassword" required class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>
      <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">Đồng ý</button>
    </form>
    <p class="text-center mt-4">Bạn đã có tài khoản chưa? <a href="/register" class="text-blue-500 hover:underline">Đăng ký</a></p>
    <p class="text-center mt-4"> Bạn đã có tài khoản <a href="/login" class="text-blue-500 hover:underline">Đăng nhập</a></p>
  </div>
</div>
